.site-header {
    position: relative;
}

.custom-wrapper {
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 2.1em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.custom-wrapper.open {
    height: 14em;
}

.custom-wrapper {
    height: 0;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.custom-toggle {
    display: block;
}

.custom-toggle .bar {
    display: block;
    width: 24px;
    height: 3px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
}

.custom-toggle .bar:last-child {
    -webkit-transform: translateY(+8px);
    -moz-transform: translateY(+8px);
    -ms-transform: translateY(+8px);
    transform: translateY(+8px);
}

.custom-toggle.x .bar:last-child {
    display: none;
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.pure-menu-has-children {
  position: relative;
}

.pure-menu-children {
    left: 3em;
    top: 2em;
}

.pure-menu-link {
    text-align: left;
}

@media (min-width: 47.999em) {
  .custom-toggle {
      display: none;
  }

  .custom-wrapper {
    height: 3.2em;
    overflow: visible;
  }

  .pure-menu-children .pure-menu-item {
    background-color: magenta;
  }
}
